

/* General body styles */
body{
     display: inline;
     font-family: 'Hind', sans-serif;
     font-weight: bold;
     color: white;
}

h1{
     font-size: 80px;

}

/* Styling the navbar */
.nav-bar{
     background-color: #4E4459;
     height: 140px;
  
}
.nav-items{
     display: flex;
     margin-left: 1000px;
     font-size: 30px;
     list-style: none;
   
}
.home{
     margin-right: 20px;
     text-decoration: none;
}
.shop{
     margin-right: 20px;
     text-decoration: none;
}
.contact{
     margin-right: 20px;
     text-decoration: none;
}
.home-sec{
     background-color: #594445;
     height: 700px;
}



.shop-sec{
     background-color: #4F5944;
     height: 900px;
}

.contact-sec{
     background-color: #445959;
     height: 500px;
}